<template>
<div>
        <h1>Tambah Data Barang</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nama</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nama Barang">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Spesifikasi</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
  name: 'Products' //component name
}
</script>

    
