<template>
  <div id="app">
    <Navbar></Navbar>
    <!-- Transition -->
    <transition name="router-anim" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutDown">
    <router-view/> 
    </transition>
    <div class="container">
        <h2>{{namaProduk}} - ${{harga}}</h2>
        <!-- Computed Properties 
        apabila property B terpengaruh oleh properti A, maka apabila properti A berubah valuenya, properti B juga akan ikut berganti valuenya
        -->
         <button v-on:click="increment">
            tambahkan jumlah barang
         </button>
        <p>
            harga: ${{harga}}
        </p>
        <p>
            jumlah: {{jumlah}}
        </p>
        <h3>
            total: ${{total}}
        </h3>
        <!-- Data Binding
        apabila terjadi perubahan pada javascript, maka tampilan view pada html akan terpengaruh dan akan ikut berubah
         -->
        <input type="text" v-model="jumlah"> 
        <p>
        <!-- Conditional Directives
        merupakan suatu perintah yang digunakan untuk memilih satu aksi dari beberapa kemungkinan dengan syarat tertentu.
         -->
        <b v-if="ket">{{pesan}}</b>
        <b v-else>{{pesan2}}</b>
        </p>
        <p>
        <b v-show="ket">halo!</b>
        </p>
        <b-card 
        style="max-width: 20rem"
        bg-variant="light" header="Data Barang" class="text-left">
        <b-card-text>
        <!--Filtering Array & Loop List & List Method-->
        <input type="text" v-model="cari" placeholder="cari barang"/>
        <li v-for="item in filteredItems" v-bind:key="item">
          {{item}} <b-button size="sm" variant="outline-primary" v-on:click="hapus(index)">Hapus</b-button>
        </li>
        </b-card-text>
        </b-card>
        <p>
          <input type="text" v-model="isi"> 
        <!-- V-on -->
          <b-button variant="outline-primary" size="sm" v-on:click="tambah">Tambah data barang</b-button>
        </p>
        <!--Input Binding
        input binding menggunakan two way data binding, dan menggunakan V-model. V-model adalah 
        -->
        <h3> Metode Pembayaran </h3>
        <select v-model="payment" placeholder="Silakan pilih metode pembayaran">
          <option disabled value=""> Silakan pilih metode pembayaran</option>
          <option> COD </option>
          <option> Transfer antar Bank </option>
          <option> Paylater </option>
        </select>
        <p>Metode pembayaran yang dipilih: {{payment}}</p>
        <!-- V-bind
        V-bind merupakan syntax perintah untuk melakukan binding code Javascript ke dalam HTML
        -->
        <li><a v-bind:href="url">Lihat website</a></li>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import Products from "@/components/Products.vue"
import 'bootstrap/dist/css/bootstrap.min.css';

  //instance: menghubungkan model dan view agar bisa berkomunikasi
    export default {
      name: "app",
            components: {
              Navbar
            },
            data() { 
              return{
                isi: '',
                cari: '',
                items: ['Acer','HP','MacBook','Asus'],
                namaProduk: 'ASUS ZenBook 13 UX333FA',
                harga: '130',
                ket: false,
                pesan: 'Tersedia',
                pesan2: 'Habis',
                jumlah: 0,
                payment: '',
                Products
              }
            },
            //methods
            methods: {
                increment() {
                    return this.jumlah++
                },
                tambah: function() {
                    this.items.push(this.isi)
                    this.isi= ' ' //list method
                },
                hapus: function(index) {
                  this.items.splice(index, 1) //list method
                }
            },
            computed: {
                total() {
                   return this.harga * this.jumlah //computed properties
                },
                url() {
                    return 'https://www.bhinneka.com/asus-zenbook-13-ux333fa-a5813t-90nb0jv6-m05610-burgundy-red-sku3324027914';
                },
                filteredItems() {
                  return this.items.filter(item => {
                    return item.toLowerCase().indexOf(this.cari.toLowerCase()) > -1
                  }); //filtering array
                }
            }
        }       
</script>

<style>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css";
</style>